$b: '.burger';

#{$b} {
  z-index: 9999999;
  @include clickable();
  display: flex;
  align-items: center;
  position: relative;
  height: 21px;

  &::after {
    @include full-abs(-50%);
    content: '';
    display: block;
  }

  &__inner {
    display: block;
    width: 30px;
    height: 1px;
    position: relative;
    background: $text-base;
    border-radius: 3px;
    pointer-events: none;
    transition: $g-transition;

    @include sidebar-open {
      background: rgba($accent-base, 0);
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background: $text-base;
      border-radius: 3px;
      transition: $g-transition;
    }

    &::before {
      top: -6px;

      @include sidebar-open {
        top: 0;
        transform: rotate(45deg);
      }
    }

    &::after {
      bottom: -6px;

      @include sidebar-open {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
