$b: '.site-footer';

#{$b} {
  &__container {
    padding-top: 70px;
    padding-bottom: 45px;
    background-color: $text-base;
    @include mobile {
      padding-top: 20px;
    }
  }

  &__top-box {
    display: flex;
    @include tablet {
      flex-direction: column;
    }
  }

  &__column {
    width: 33.333333%;
    text-align: center;
    @include tablet {
      width: 100%;
    }
  }
  &_column-1 {
    max-width: 416px;
    margin-left: 80px;
    @include wide-desktop {
      width: 300px;
    }
    @include tablet {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }
  }
  &_column-2 {
    max-width: 350px;
    @include wide-desktop {
      max-width: 300px;
    }
    @include low-desktop {
      max-width: 250px;
    }
    @include tablet {
      max-width: 100%;
    }
  }
  &__column-2-content-box {
    display: flex;
    flex-direction: column;
  }
  &__column-3-content-box {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-family-base;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    color: #626262;
    margin-top: 16px;
    text-align: left;
    @include tablet {
      text-align: center;
    }
  }

  &_logo {
    font-family: $font-family-alt;
    font-size: 60px;
    font-weight: 400;
    line-height: 28px;
    color: $white-true;
    margin-top: 43px;
    transition: 0.3s ease 0s;
    @include tablet {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  &_logo:hover {
    color: $accent-base;
    cursor: pointer;
  }

  &__list {
    text-align: left;
    margin-top: 12px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &_list-resources {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
  &_item-resources {
    display: flex;
    align-items: flex-start;
  }

  &__list-item-link {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $white-true;
    transition: 0.3s ease 0s;
    cursor: pointer;
    @include tablet {
      margin-right: 10px;
    }
  }
  &__list-item-link:hover {
    color: $accent-base;
  }

  &_list-resources li::before  {
    content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="site-footer__list-item-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="rgb(85, 85, 85)" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>' );
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-top: 7px;
    transition: 0.3s ease 0s;
  }

  &__middle-box {
    display: flex;
    margin-top: 45px;
    @include tablet {
      flex-direction: column;
    }
  }

  &__middle-column {
    width: 33.333333%;
    text-align: center;
    @include tablet {
      width: 100%;
    }
  }
  &_middle-column-1 {
    width: 33.333333%;
    max-width: 415px;
    margin-left: 80px;
    @include wide-desktop {
      max-width: 300px;
    }
    @include low-desktop {
       width: 500px;
     }
    @include tablet {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &_middle-column-2 {
    width: 33.333333%;
    @include tablet {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &_middle-column-3 {
    width: 33.333333%;
    margin-left: 74px;
    @include wide-desktop  {
      margin-left: 74px;
    }
    @include tablet {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &__middle-address-box {
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 25px;
    @include tablet {
      margin-top: 13px;
      justify-content: center;
    }
  }

  &__middle-column-1-address {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $white-true;
    padding-left: 30px;
    padding-right: 10px;
    position: relative;
  }

  &__middle-column-1-address::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10pt" height="13pt" viewBox="0 0 10 13" version="1.1"> <g id="surface1"> <path fill="white" d="M 4.484375 12.738281 C 0.703125 7.390625 0 6.839844 0 4.875 C 0 2.183594 2.238281 0 5 0 C 7.761719 0 10 2.183594 10 4.875 C 10 6.839844 9.296875 7.390625 5.515625 12.738281 C 5.265625 13.085938 4.734375 13.085938 4.484375 12.738281 Z M 5 6.90625 C 6.152344 6.90625 7.082031 5.996094 7.082031 4.875 C 7.082031 3.753906 6.152344 2.84375 5 2.84375 C 3.847656 2.84375 2.917969 3.753906 2.917969 4.875 C 2.917969 5.996094 3.847656 6.90625 5 6.90625 Z M 5 6.90625 "/> </g> </svg>' );
    position: absolute;
    top: 3px;
    left: 0;
  }

  &__middle-column-br {
    @include tablet {
      display: none;
    }
  }

  &_list-contacts {
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &_middle-link-number {
    font-family: $font-family-base;
    font-size: 30px;
    font-weight: 400;
    line-height: 53px;
    @include wide-desktop  {
      font-size: 28px;
      line-height: 51px;
    }
    @include low-desktop  {
      font-size: 27px;
      line-height: 50px;
    }
    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &_middle-link-email {
    font-family: $font-family-base;
    font-size: 30px;
    font-weight: 400;
    line-height: 54px;
    border-bottom: 1px solid $accent-base;
    transition: 0.3s ease 0s;
    white-space: nowrap;
    @include wide-desktop  {
      font-size: 28px;
      line-height: 51px;
    }
    @include low-desktop  {
      font-size: 27px;
      line-height: 50px;
    }
    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &_middle-link-email:hover {
    border-bottom: 1px solid $white-true;
  }

  &_list-item-link-underline {
    border-bottom: 1px solid #444444;
    transition: 0.3s ease 0s;
  }

  &_list-item-link-underline:hover {
    border-bottom: 1px solid $white-true;
  }

  &__middle-list-item:last-child &_list-item-link-underline {
    border-bottom: none;
    @include tablet {
      border-bottom: 1px solid #444444;
      transition: 0.3s ease 0s;
    }
  }

  &__middle-list-item:last-child &_list-item-link-underline:hover {
    @include tablet {
      border-bottom: 1px solid $white-true;
    }
  }

  &__middle-column-3-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    padding-right: 74px;
    @include wide-desktop  {
      padding-right: 0;
    }
    @include tablet{
      align-items: center;
    }
  }

  &__middle-list-item{
    text-align: right;
    @include tablet {
      text-align: left;
    }
  }

  &__container2 {
    background-color: $text-base;
    border-top: 1px solid #393939;
  }

  &__bottom-box{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 25px;
    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &__bottom-box-1 {
    width: 58%;
    @include tablet {
      width: 100%;
    }
  }

  &__bottom-box-2 {
    width: 42%;
    text-align: right;
    padding-right: 74px;
    @include wide-desktop  {
      padding-right: 0;
    }
    @include tablet {
      width: 100%;
      text-align: center;
    }
  }

  &__bottom-description {
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
    color: $white-true;
    @include tablet {
      text-align: center;
    }
  }

  &__bottom-link {
    color: $white-true;
    transition: background-color, 0.3s;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }

  &__bottom-link:hover {
    color: $accent-base;
  }



}
