$b: '.site-header';

#{$b} {
  //
  background-color: $color-base;
  &__container {
    padding-top: 0;

    @include tablet {
      display: flex;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 9px;
    justify-content: space-between;

    @include low-desktop {
      padding-top: 27px;
      padding-bottom: 22px;
    }
    @include tablet {
      padding-top: 15px;
      padding-bottom: 0;
    }

  }

  &__nav-logo {
    font-family: $font-family-alt;
    font-size: 60px;
    display: none;
    color: $text-base;
    @include tablet {
      display: flex;
    }
  }

  &__nav-menu {
    display: flex;
    align-items: center;
  }
  &__nav-menu-icons {
    @include tablet {
      display: none;
    }
  }
  &__icon {
    height: 18px;
    color: $text-base;
    margin-top: 5px;
    transition: 0.3s ease 0s;
  }
  &__icon:hover {
    color: $accent-base;
  }

  &__burger {
    position: relative;
    top: 0;
    flex-shrink: 0;
    margin-left: 58px;
    display: none;
    //transition: all $sidebar-duration $g-transition-easing;

    @include low-desktop {
      margin-left: 90px;
    }

    @include tablet {
      margin-left: auto;
      display: block;
      padding-top: 48px;
    }

    @include mobile {
      margin-left: auto;
    }
  }
  .site-menu__icons-mobile a{
    height: 18px;
    color: #000;

  }

  &__icons-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include low-desktop {
      margin-bottom: 0;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      /* IE10+ specific styles go here */
      display: none;
    }
  }

  &__icons-item {
    margin-right: 20px;
    @include low-desktop {
      margin-right: 10px;
    }
  }

  &__icons-item:first-child {
    margin-right: 51px;

    @include wide-desktop {
      margin-right: 50px;
    }
    @include low-desktop {
      margin-right: 30px;
    }
  }
  &__icons-item:last-child {
    margin-right: 0;
  }

  &__icons-button {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    height: 35px;
    padding: 0 21px;
    border-radius: 4px;
    text-transform: inherit;

    @include low-desktop {
      font-size: 16px;
    }
  }

}
