$b: '.site-menu';

#{$b} {
  @include tablet {
    position: fixed;
    top: -100px;
    right: 0;
    bottom: -100px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: $g-transition;
    z-index: 9999;

    @include sidebar-open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__bg {
    @include tablet {
      @include full-abs(0);
      @include clickable();
      background: rgba($black-true, 0.25);
    }
  }

  &__wrapper {
    @include tablet {
      padding: 99px 0;
      height: 100%;
      width: 300px;
      margin-left: auto;
      position: relative;
      background: $white-true;
      transform: translate(100%, 0);
      transition: $g-transition;

      @include sidebar-open {
        transform: translate(0, 0);
      }
    }

    @include mobile {
      width: 100%;
    }
  }

  &__container {
    @include tablet {
      height: 100%;

      @include sidebar-open {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  &__content {
    @include tablet {
      position: relative;
      height: 100%;
    }

    @include mobile {
      display: flex;
    }

    &-container {
      display: flex;
      @include tablet {
        display: block;
        padding: 102px 7% 102px 17%;
      }

      @include mobile {
        padding: 4px 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }

  &__list {
    display: flex;

    @include low-desktop {
      align-items: center;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      align-items: center;
      margin-left: 0;
      padding-top: 62px;
    }
  }

  &__item {
    margin-bottom: 0;
    margin-right: 37px;
    color: $text-base;
    line-height: 58px;

    @include wide-desktop {
      margin-right: 31px;
    }

    @include low-desktop {
      margin-right: 30px;
      line-height: 40px;
    }

    @include tablet {
      margin-bottom: 30px;
      margin-right: 0;
    }

    @include mobile {
      margin-bottom: 14px;
    }
  }
  &__item:first-child {
    margin-left: 2px;
    margin-right: 158px;

    @include wide-desktop {
      margin-right: 100px;
    }
    @include low-desktop {
      margin-right: 40px;
    }
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    @include clickable();
    display: block;
    font-weight: 500;
    font-family: $font-family-base;
    font-size: 16px;
    transition: 0.3s ease 0s;
    letter-spacing: -0.003em;

    @include low-desktop {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &__link:hover {
    color: $accent-base;
  }
  &__link-logo {
    font-family: $font-family-alt;
    font-size: 60px;
    line-height: 70px;
    @include low-desktop {
      line-height: 44px;
    }

    @include tablet {
      display: none;
    }
  }
  &__phone {
    margin-top: 23px;

    @include low-desktop-min {
      display: none;
    }

    @include mobile {
      margin-top: 11px;
      text-align: center;
    }
  }

  &__nav {
    margin-top: 23px;

    @include low-desktop-min {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include tablet {
      margin-top: 0;
    }

    &-logo {
      display: block;

      @include tablet {
        width: 140px;
      }

      @include mobile {
        width: 123px;
        margin: 0 auto;
      }

      &-open {
        margin-left: 4px;
        padding-top: 36px;

        @include low-desktop {
          margin-left: 0;
          padding-top: 15px;
        }
      }
    }
  }
  &__icon {
    height: 18px;
    color: #667876;
    @include low-desktop-min {
      display: none;
    }
  }
  &__mobile-button {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    height: 35px;
    padding: 0 15px;
    border-radius: 4px;
    text-transform: inherit;

    @include mobile {
      padding: 0 35px;
    }
  }
  &__icons-mobile-box {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @include mobile {
      align-items: center;
    }
  }
  &__icons-mobile-list {
    display: flex;
    margin-top: 10px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      /* IE10+ specific styles go here */
      display: none;
    }
  }
  &__icons-mobile-item {
    margin-right: 10px;
  }
}
//fix menu 09.05.21
._site-menu-open{
  @include tablet {
    padding-right: 0;
    overflow: hidden;
  }

}

