$b: '.subscribe';

#{$b} {
  &__form {
    padding-top: 37px;
  }
  &__submit-group input {
    font-family: $font-family-base;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    color: #777777;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 26px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      /* IE10+ specific styles go here */
      line-height: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  &__submit-group input[type=submit] {
    color: $white-true;
    background-color: $accent-base;
    transition: 0.3s ease 0s;
    border: none;
    text-align: center;
  }
  &__submit-group input[type=submit]:hover {
    background-color: #FC4031;
  }

  &__textarea {
    font-family: $font-family-base;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    color: #777777;
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 26px;
  }
}
#subscribe__name-error,
#subscribe__email-error,
#subscribe__number-error,
#subscribe__textarea-error {
  margin-bottom: 15px !important;
}
