$b: '.s-appeal';

#{$b} {
  background-image: url("/img/banner2.webp");
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $text-base;

  &__border-box {
    margin:0 15px 0 15px;
    border: 2px solid #737373;
  }

  &__container {
    display: flex;
    max-width: 1774px;
    justify-content: space-between;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 110px;
    flex-wrap: wrap;
    @include tablet {
      padding-top: 73px;
      padding-bottom: 60px;
    }
    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__title {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    text-align: left;
    letter-spacing: -0.003em;
    max-width: 840px;
    margin-left: 14px;
    margin-bottom: 20px;
    @include low-desktop {
      font-size: 45px;
      line-height: 50px;
      margin-left: 0;
    }
    @include mobile {
      font-size: 32px;
      line-height: 35px;
      text-align: center;
    }
  }
  &__button {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 18px;
    font-weight: 400;
    padding: 0 67px;
  }
}
