$b: '.s-blog';

#{$b} {
  padding-top: 83px;
  padding-bottom: 122px;
  &__container {
    text-align: center;
    max-width: 1429px;
  }
  &__title {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.003em;
    @include low-desktop {
      font-size: 45px;
      line-height: 50px;
    }
    @include mobile {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &__description {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    @include mobile {
      font-size: 17px;
      line-height: 23px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    @include mobile {
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }
  &__item {
    width: 100%;
    max-width: 386px;
    background-color: #F6F6F6;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    @include wide-desktop {
      max-width: 360px;
    }
    @include low-desktop {
      max-width: 295px;
    }
    @include tablet {
      max-width: 339px;
    }
    @include mobile {
      max-width: 386px;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__item:nth-child(n+4) {
    display:none;
  }

  &__item-img-bg {
    background-size: cover;
    padding-top: 77.724%;
  }

  &__item-title {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    margin-top: 22px;
    padding: 0 25px 0 25px;
    transition: 0.3s ease 0s;
    @include low-desktop {
      font-size: 15px;
      line-height: 21px;
    }
    @include tablet {
      font-size: 16px;
      line-height: 20px;
      padding: 0 15px 0 15px;
    }
    @include mobile {
      font-size: 17px;
      line-height: 24px;
    }
  }
  &__item-title:hover {
    color: #333333;
  }

  &__item-bottom-top-box {
    flex-grow: 1;
  }

  &__item-bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    margin-top: 43px;
    margin-bottom: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    @include low-desktop {
      margin-bottom: 15px;
    }
    @include tablet {
      padding: 0 10px 0 15px;
    }
    @include mobile {
      padding: 0 15px 0 15px;
    }
  }
  &__item-comments-box {
    display: flex;
    align-items: center;
  }
  &__item-icon {
    width: 20px;
    height: 18px;
    margin-right: 10px;
    @include low-desktop {
      width: 18px;
      height: 16px;
    }
    @include tablet {
      width: 14px;
      height: 13px;
      margin-right: 5px;
    }
  }
  &__item-comments-link {
    font-family: $font-family-base;
    color: $accent-base;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 5px;
    transition: 0.3s ease 0s;
    @include low-desktop {
      font-size: 14px;
      line-height: 26px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__item-comments-link:hover{
    color: #FF1C16;
  }

  &__item-date {
    font-family: $font-family-base;
    color: #ababab;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    @include low-desktop {
      font-size: 14px;
      line-height: 26px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__button {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding: 0 52px;
    margin-top: 60px;
    @include mobile {
      margin-top: 20px;
    }
  }

}
