$b: '.s-map';


#{$b} {
  position: relative;
  z-index: 2;
  &__map {
    position:relative;
    overflow:hidden;
    height: 560px;
  }
  &__container{
  }
  &__info-box {
    position: absolute;
    top: 160px;
    left: 180px;
    background-color: $white-true;
    padding-top: 45px;
    padding-left: 45px;
    padding-bottom: 47px;
    width: 700px;


    @include wide-desktop {
      top: 130px;
      left: 150px;
    }
    @include low-desktop {
      top: 50px;
      left: 70px;
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 37px;
      width: 500px;
    }
    @include tablet {
      top: 30px;
      left: 50px;
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 37px;
      width: 500px;
    }
    @include mobile {
      top: 20px;
      left: 10px;
      width: 300px;
    }
  }
  &__title {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 55px;
    line-height: 50px;
    font-weight: 500;
    text-align: left;
    letter-spacing: -0.05em;
    @include low-desktop {
      font-size: 35px;
      line-height: 30px;
    }
    @include tablet {
      font-size: 30px;
      line-height: 30px;
    }
    @include mobile {
      font-size: 25px;
      line-height: 25px;
    }
  }
  &__description {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
    @include low-desktop {
      font-size: 16px;
      line-height: 30px;
    }
    @include tablet {
      font-size: 15px;
      line-height: 18px;
    }

  }
  &__search-map-box {
    display: flex;
    margin-top: 18px;
  }
  [type="search"] {
    background-color: #F6F6F6;
    line-height: 2.75;
    width: 210px;
    @include mobile {
      width: 150px;
    }
  }

  &__search-button {
    background-color: $accent-base;
    border-radius: 0;
    height: 46px;
    line-height: 46px;
    padding: 0 49px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    @include mobile{
      padding: 0 20px;
    }
  }
}
