$b: '.s-reviews';

#{$b} {
  padding-top: 73px;
  padding-bottom: 137px;
  background-color: $text-base;
  @include tablet {
    padding-top: 73px;
    padding-bottom: 80px;
  }
  @include mobile {
    padding-top: 73px;
    padding-bottom: 60px;
  }
  &__container {
    position: relative;
  }
  &__title {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    margin-top: 22px;
    letter-spacing: 0.01em;
    margin-left: 5px;
    @include low-desktop {
      font-size: 45px;
      line-height: 50px;
    }
    @include mobile {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &__description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    @include mobile {
      font-size: 17px;
      line-height: 23px;
    }
  }
  &__item {
    width: 100%;
    max-width: 490px;
  }
  &__item-img-bg {
    background-size: cover;
    padding-top: 100%;
  }
  &__item-name {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-left: 2px;
    @include low-desktop {
      font-size: 15px;
      line-height: 16px;
    }
    @include mobile {
      font-size: 15px;
      line-height: 16px;
    }
  }


  &__item-box-top {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    flex-grow: 1;
    height: 32px;
  }

  &__item-stars-box {
    display: flex;
  }

  &__item-star {
    height: 13px;
    font-style: 13px;
    color: $accent-base;
    margin-right: 3px;
  }

  &__item-star:last-child {
    margin-right: 0;
  }

  &__item-box-bottom {
    position: relative;
    margin-top: 25px;
    flex-shrink: 0;
  }
  &__item-description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    padding: 0 15px 0 47px;
    @include low-desktop {
      font-size: 16px;
      line-height: 25px;
      padding: 0 15px 0 32px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__item-quotationMark {
    position: absolute;
    top: -10px;
    left: 0;
    @include low-desktop {
      width: 50px;
      height: 38px;
    }
  }
  /*swip style*/
  .swiper-container {
    width: 100%;
    height: 100%;
    max-width: 1560px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #CFCFCF;
    margin: 0 10px !important;

  }
  .swiper-pagination-bullet-active {
    background-color: $accent-base;
    position: relative;
  }
  .swiper-pagination-bullet-active:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: $text-base;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    position: relative;

  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }
  .swiper-wrapper {
    margin-top: 62px;
    padding-bottom: 64px;
  }

}
