$b: '.s-services';

#{$b} {
  padding-top: 113px;
  padding-bottom: 150px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @include mobile {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &__title{
    font-family: $font-family-base;
    color: $text-base;
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    text-align: center;

    @include low-desktop {
      font-size: 45px;
      line-height: 50px;
    }
    @include mobile {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__direction-box{
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__direction-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__direction {
    font-family: $font-family-base;
    color: #ababab;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    margin-right: 50px;

    @include low-desktop {
      margin-right: 25px;
    }
  }

  &__direction:last-child {
    margin-right: 0;
  }
  &_direction-active {
    color: $text-base;
  }
  &_direction-active:after {
    content: "";
    display: block;
    border-bottom: 2px solid $accent-base;
    margin-top: -3px;
  }

  &__img-big {
    background-size: cover;
    padding-top: calc(100% + 100px);
    height: 0;
    width: 100%;
    max-width: 800px;

    @include wide-desktop {
      padding-top: calc(100% + 100px);
    }
    @include low-desktop {
      padding-top: calc(100% + 100px);
    }
    @include tablet {
      padding-top: calc(100% + 100px);
    }
  }

  &_img-big-nav-box-hide {
    padding-top: calc(100%);
    @include wide-desktop {
      padding-top: calc(106%);
    }
    @include low-desktop {
      padding-top: calc(103.8%);
    }
    @include tablet {
      padding-top: calc(100%);
    }
  }

  &__main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 860px;
    overflow: hidden;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    @include mobile {
      flex-direction: column-reverse;
      max-height: 100%;
      overflow: inherit;
    }
  }

  &__img-preview-row  {
    display: flex;
    flex-wrap: nowrap;
  }

  &__img-preview-box  {
    flex-wrap: wrap;
  }

  &__img-preview {
    background-size: cover;
    padding-top: 101.45%;
    height: 0;
    width: 100%;
    max-width: 350px;
    //margin-right: 7.90%;
    margin-right: 30px;
    cursor: pointer;
    @include low-desktop {
      margin-right: 15px;
    }
    @include mobile {
      padding-top: 100%;
      max-width: 230px;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__hover-box {
    position: absolute;
    text-align: left;
    left: 25px;
    bottom: 25px;
    opacity: 0;
    transition: 0.3s ease 0s;

    @include tablet {
      left: 10px;
      bottom: 10px;
    }
    @include mobile {
      display: none;
    }
  }

  &__img-preview:hover {
    .s-services__hover-box {
      opacity: 1;
    }
  }

  &__button {
    font-family: $font-family-base;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    text-transform: uppercase;
    padding: 0 19px;
  }

  &__link {
    font-family: $font-family-base;
    color: #ffffff;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    margin-top: 10px;
  }

  &__link-text {
    font-size: 15px;
    line-height: 17px;
  }
  &__arrow {
    width: 30px;
    height: 17px;
    margin: 0 auto 0 auto;
    display: flex;
  }

  &__nav-box {
    display: flex;
    margin-top: -1.37%;
    @include low-desktop {
      margin-top: 23px;
    }

    @include mobile {
      display: none;
    }
  }

  &_nav-box-mt {
    margin-top: 53.4%;
    @include wide-desktop {
      margin-top: 54.1%;
    }
    @include low-desktop {
      margin-top: 56.5%;
    }
    @include tablet {
      margin-top:  58.7%;
    }
  }
  &_nav-box-hide {
    display: none;
  }

  .s-services__nav {
    background-color: #F6F6F6;
    height: 40px;
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    @include low-desktop {
      margin-right: 15px;
    }
  }
  .s-services__nav-icons{
    width: 30px;
    height: 17px;
    margin: 10px auto 0 auto;
    display: flex;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: 0;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
    max-width: 800px;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    max-width: 759px;

    @include mobile {
      height: 20%;
      max-width: 768px;
    }
  }

  .mySwiper .swiper-slide{
    width: 25%;
    height: 100%;
    opacity: 1;
    justify-content: start;

    @include mobile {
      opacity: 0.4;
    }
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiper-wrapper-thumbs {
    display: flex;
    flex-direction: row;
  }

  .swiper-container-multirow-column > .swiper-wrapper {
    flex-direction: row;
    width: 100%;
  }
  .swiper-wrapper-thumbs > .swiper-slide {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 30px;
    @include low-desktop {
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }
  &__fancybox-link {
    width: 100%;
  }
  &__mobile-button {
    color: #ffffff;
    display: none;
    @include mobile {
      display: block;
    }
  }

  .swiper-button-disabled {
    color: #ababab;
  }

}

.non-swiper-slide {
  display: none;
}
.non-swiper-slide .s-services__fancybox-link {
  display: none;
}
