$b: '.s-sessions';

#{$b} {
  margin-top: 100px;
  background-color: $text-base;
  @include tablet {
    margin-top: 80px;
  }
  @include mobile {
    margin-top: 60px;
  }
  &__columns {
    display: flex;
    position: relative;
    @include mobile {
      flex-direction: column;
    }
  }
  &__column {
  width: 49.89999%;
    @include mobile {
      width: 100%;
    }
  }
  &_column-two::before {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    width: calc(100vw - (100vw - 13400px)/2 - 70px);
    height: 723px;
    background: #F6F6F6;
    border-radius: 0 0 0 0;
    z-index: 1;

    @include tablet {
      height: 675px;
    }
    @include mobile {
      top: inherit;
      bottom: inherit;
      height: 538px;
      left: -500px;
    }
  }
  &__column-box {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 90px;
    @include low-desktop {
      margin-right: 0;
      margin-top: 60px;
      margin-bottom: 80px;
    }
  }
  &_column-two-box {
    margin-right: inherit;
    margin-left: 130px;

    @include low-desktop {
      margin-left: 0;
      padding-left: 77px;
    }
    @include tablet {
      padding-left: 25px;
    }
    @include  mobile {
      margin-top: 40px;
      padding-left: 0;
    }
  }
  &__icon-box {
    text-align: center;
    z-index: 2;
  }
  &__column-title {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 30px;
    line-height: 55px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      font-size: 25px;
      line-height: 50px;
    }
    @include mobile {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__column-variations {
    width: 100%;
    max-width: 432px;
    margin: 55px auto 76px auto;

    @include tablet {
      margin: 55px 0px 76px 0px;
    }
    @include mobile {
      margin: 55px auto 76px auto;
    }

  }
  &__column-description-box {
    margin-bottom: 30px;
  }
  &__column-description-box:last-child {
    margin-bottom: 0;
  }
  &__column-description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 18px;
    line-height: 80px;
    font-weight: 300;
    display: flex;
  }
  &__column-number {
    font-family: $font-family-base;
    color: #656565;
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
    margin-right: 43px;

    @include mobile {
      margin-right: 20px;
    }
  }

  &_number-one {
    margin-right: 57px;
    @include mobile {
      margin-right: 35px;
    }
  }

  &__column-hr {
    color: #4E4E4E;
    border-bottom: 0;
    margin-left: 10px;
    margin-top: -13px;
    @include tablet {
      margin-right: 25px;
    }
  }

  &__column-button {
    margin: 0 auto;
    display: block;
    padding: 0 70px;
  }

  &_column-two-text {
    color: $text-base;
  }

  &_column-two-number {
    color: #D7D7D7;
  }

  &_column-two-hr {
    opacity: 0.1;
    @include tablet {
      margin-right: 0;
    }
  }



}
