$b: '.s-tips';

#{$b} {
  padding-top: 73px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
  @include tablet {
    padding-top: 73px;
    padding-bottom: 80px;
  }
  @include mobile {
    padding-top: 73px;
    padding-bottom: 60px;
  }

  &__columns {
    display: flex;
    @include low-desktop {
      flex-direction: column-reverse;
    }
  }
  &__column {
    width: 49.9999%;
    @include low-desktop {
      width: 100%;
    }
  }
  &__column-left-box{
    width: 100%;
    max-width: 620px;
    margin-left: 80px;
    @include wide-desktop {
      margin-left: 0;
    }
    @include low-desktop {
      max-width: 100%;
      margin-top: 90px;
    }
  }
  &__column-right-box {
    margin-left: 50px;
    @include wide-desktop {
      margin-left: 30px;
    }
    @include low-desktop {
      margin-left: 0;
    }
  }

  &__title{
    font-family: $font-family-base;
    color: $text-base;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    text-align: left;
    margin-top: -2px;
    letter-spacing: 0.01em;
    @include low-desktop {
      font-size: 45px;
      line-height: 50px;
      text-align: center;
    }
    @include mobile {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &__description {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
    @include mobile {
      font-size: 17px;
      line-height: 23px;
    }
  }

  &_column-right-title {
    font-family: $font-family-alt;
    color: $text-base;
    font-size: 60px;
    line-height: 75px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 11px;
    @include low-desktop {
      font-size: 55px;
      line-height: 50px;
      text-align: center;
    }
  }
  &_column-right-title-number {
    font-size: 80px;
    @include low-desktop {
      font-size: 75px;
      line-height: 70px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    @include low-desktop {
      justify-content: center;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    @include low-desktop {
      justify-content: center;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  &__row:last-child {
    margin-top: -10px;
    @include wide-desktop {
      margin-top: 0;
    }
  }
  &__item-box {
    display: flex;
    margin-top: 44px;
    margin-right: 89px;
    flex-direction: column;
    @include wide-desktop {
      margin-right: 35px;
    }
    @include low-desktop {
      margin-top: 20px;
    }
    @include tablet {
      margin-top: 20px;
    }
    @include mobile {
      margin-top: 10px;
      margin-right: 0;
    }
  }
  &__row &__item-box:last-child {
    margin-right: 0;
  }
  &_item-5 {
    visibility: hidden;
    @include mobile {
      display: none;
    }
  }

  &__item-content-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  &__item-line {
    width: 100%;
    max-width: 352px;
    background-color: #cccccc;
    height: 1px;
    margin-top: 10px;
    flex-shrink: 0;
    @include mobile {
      max-width: 100%;
    }
  }
  &__item-icon-box {
    height: 61px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  &__item-description {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    max-width: 235px;
    @include mobile {
      max-width: 100%;
    }
  }
  &_item-icon-1{
    margin-left: 15px;
    margin-right: 30px;
  }
  &_item-icon-2{
    margin-left: 5px;
    margin-right: 25px;
  }
  &_item-icon-3{
    margin-left: 16px;
    margin-right: 24px;
    @include mobile {
      margin-left: 24px;
      margin-right: 38px;
    }
  }
  &_item-icon-4{
    margin-left: 22px;
    margin-right: 22px;
    @include mobile {
      margin-left: 22px;
      margin-right: 40px;
    }
  }
  &_item-icon-5{
    margin-left: 24px;
    margin-right: 25px;
    @include mobile {
      margin-left: 15px;
      margin-right: 40px;
    }
  }


  &__dark-block {
    background-color: $text-base;
    width: 100%;
    max-width: 1060px;
    padding: 50px 65px 60px 80px;
    margin-left: 195px;
    position: relative;
    @include wide-desktop {
      margin-left: 104px;
    }
    @include low-desktop {
      margin-top: 120px;
    }
    @include tablet {
      margin-left: 0;
    }
    @include mobile {
      margin-top: 100px;
      padding: 35px 45px 68px 45px;
    }
  }

  &__dark-block-arrow {
    position: absolute;
    top: -100px;
    left: -103px;
    @include tablet {
      left: 0;
    }
    @include mobile {
      top: -70px;
      height: 100px;
      width: 45px;
    }
  }

  &__dark-block-title {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }
  &__dark-block-description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
    @include mobile {
      font-size: 17px;
      line-height: 30px;
    }
  }
  &__dark-block-description-link {
    color: $white-true;
    border-bottom: 1px solid $accent-base;
    transition: 0.3s ease 0s;
  }
  &__dark-block-description-link:hover {
    color: $accent-base;
    border-bottom: 1px solid $white-true;
  }
}
