$b: '.s-top';

#{$b} {
  background-image: url("../img/banner.webp");
  background-size: cover;
  &__banner {
    text-align: left;
    padding-top: 63px;
    padding-bottom: 70px;
    margin-left: 73px;

    @include mobile{
      margin-left: 0px;
      text-align: center;
    }
  }

  &__banner-title {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: -0.005em;

    @include tablet {
      font-size: 45px;
      line-height: 51px;
    }
  }

  &__banner-description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 21px;
    line-height: 28px;
    margin-top: 17px;
    font-weight: 500;
    margin-left: 5px;
    letter-spacing: -0.007em;
  }

  &__banner-button {
    margin-top: 47px;
    position: static;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding: 0 34px;
    margin-left: 5px;
    padding-top: 7px;
  }
}
