<section id="s-appeal" class="s-appeal">
    <div class="s-appeal__border-box">
        <div class="s-appeal__container l-outer-width l-inner-padding">
            <h3 class="s-appeal__title">Fast, convenient & friendly professional headshot sessions. </h3>
            <button class="s-appeal__button button">About Us</button>
        </div>
    </div>
</section>


