<section id="s-blog" class="s-blog">
    <div class="s-blog__container l-outer-width l-inner-padding">
        <h3 class="s-blog__title">Our Blog </h3>
        <p class="s-blog__description">Check our latest news.</p>
        <div class="s-blog__items">
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg"  data-background-image="../img/blog/blog1.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">all about headshots inside professional studios</h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">15</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">June, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog2.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">How do professionals edit their photos and What photo editing software they use </h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">9</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">July, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog3.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">best Courses In Photography from home</h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">17</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">August, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog2.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">all about headshots inside professional studios</h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">15</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">June, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog3.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">How do professionals edit their photos and What photo editing software they use </h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">9</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">July, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog1.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">best Courses In Photography from home</h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">17</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">August, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog1.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">all about headshots inside professional studios</h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">15</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">June, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog2.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">How do professionals edit their photos and What photo editing software they use </h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">9</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">July, 2020</div>
                </div>
            </div>
            <div class="s-blog__item">
                <div class="s-blog__item-bottom-top-box">
                    <a href="#" class="s-blog__item-link-img"><div class="s-blog__item-img-bg js-lazy-bg" data-background-image="../img/blog/blog3.webp"></div></a>
                    <a href="#" class="s-blog__item-link-title"><h4 class="s-blog__item-title">best Courses In Photography from home</h4></a>
                </div>
                <div class="s-blog__item-bottom-box">
                    <div class="s-blog__item-comments-box">
                        <img class="s-blog__item-icon js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icon8.png" alt="icon">
                        <a href="#" class="s-blog__item-comments-link"><span class="s-blog__item-comments-number">17</span>&nbsp;Comments</a>
                    </div>
                    <div class="s-blog__item-date">August, 2020</div>
                </div>
            </div>
        </div>
        <button class="s-blog__button button">See More Posts</button>
    </div>
</section>
