<section id="s-map" class="s-map">
    <div class="s-map__container">
        <div class="s-map__map" id="s-map_wrap">
            <iframe src="https://yandex.ru/map-widget/v1/-/CCU4BYeH~B" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative; pointer-events: none;"></iframe>
        </div>
        <div class="s-map__info-box">
            <p class="s-map__title">Studio Near Me</p>
            <p class="s-map__description">Search for your professional by zip code:</p>
            <div class="s-map__search-map-box">
                <input type="search" id="s-map__search-map" name="q"  aria-label="Search through site content">
                <button class="s-map__search-button button">Search</button>
            </div>

        </div>
    </div>
</section>



