<section id="s-sessions" class="s-sessions">
    <div class="s-sessions__container l-outer-width l-inner-padding">
        <div class="s-sessions__columns">

            <div class="s-sessions__column">
                <div class="s-sessions__column-box">
                    <div class="s-sessions__icon-box"><img class="s-sessions__icon" src="../img/icon1.png" alt="icon"></div>
                    <div class="s-sessions__column-title">Individual Sessions</div>
                    <div class="s-sessions__column-variations">
                        <div class="s-sessions__column-description-box">
                            <p class="s-sessions__column-description">
                                <span class="s-sessions__column-number s-sessions_number-one">1</span> Studio Sessions
                            </p>
                            <hr class="s-sessions__column-hr">
                        </div>
                        <div class="s-sessions__column-description-box">
                            <p class="s-sessions__column-description">
                                <span class="s-sessions__column-number">2</span> Outdoor Sessions
                            </p>
                            <hr class="s-sessions__column-hr">
                        </div>
                        <div class="s-sessions__column-description-box">
                            <p class="s-sessions__column-description">
                                <span class="s-sessions__column-number">3</span> In-Office Sessions
                            </p>
                            <hr class="s-sessions__column-hr">
                        </div>

                    </div>
                    <button class="s-sessions__column-button button">See More</button>
                </div>
            </div>

            <div class="s-sessions__column s-sessions_column-two">
                <div class="s-sessions__column-box s-sessions_column-two-box">
                    <div class="s-sessions__icon-box"><img class="s-sessions__icon" src="../img/icon2.png" alt="icon"></div>
                    <div class="s-sessions__column-title s-sessions_column-two-text">Companies Sessions</div>
                    <div class="s-sessions__column-variations">
                        <div class="s-sessions__column-description-box">
                            <p class="s-sessions__column-description s-sessions_column-two-text">
                                <span class="s-sessions__column-number s-sessions_column-two-number s-sessions_number-one">1</span> Group On-Sites
                            </p>
                            <hr class="s-sessions__column-hr s-sessions_column-two-hr">
                        </div>
                        <div class="s-sessions__column-description-box">
                            <p class="s-sessions__column-description s-sessions_column-two-text">
                                <span class="s-sessions__column-number s-sessions_column-two-number">2</span> Corporate Accounts
                            </p>
                            <hr class="s-sessions__column-hr s-sessions_column-two-hr">
                        </div>
                    </div>
                    <button class="s-sessions__column-button button">See More</button>
                </div>
            </div>
        </div>
    </div>
</section>
