<section id="s-services" class="s-services">
    <div class="s-services__container l-outer-width l-inner-padding">
        <div class="s-services__title">Our professional services</div>
        <div class="s-services__direction-box">
            <ul class="s-services__direction-list">
                <li class="s-services__direction"><span id="s-services_direction-active" class="s-services__direction-link s-services_direction-active" >All</span> </li>
                <li class="s-services__direction"><span class="s-services__direction-link">Modeling</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Acting</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Corporate</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Business</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Professional</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Group</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Company</span></li>
                <li class="s-services__direction"><span class="s-services__direction-link">Officer</span></li>
            </ul>
        </div>
        <div class="s-services__main-box">
            <div thumbsSlider="" class="swiper-container mySwiper">
                <div class="swiper-wrapper swiper-wrapper-thumbs">
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human1.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human2.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="acting">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human3.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human4.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human4.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="acting">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human3.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human4.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human1.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="acting">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human3.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/human1.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/clients1.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/clients2.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <div class="s-services__img-preview js-lazy-bg" data-background-image="img/clients3.webp">
                            <div class="s-services__hover-box">
                                <button class="s-services__button button">Company</button>
                                <a href="#" class="s-services__link"><span class="s-services__link-text">Check Service</span> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-services__nav-box">
                    <div class="s-services__nav s-services__nav-left"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="s-services__nav-icons" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg></div>
                    <div class="s-services__nav s-services__nav-right"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="s-services__nav-icons" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></div>
                </div>
            </div>
            <div class="swiper-container mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <a href="img/human1-full.webp" class="s-services__fancybox-link" rel="corporate" data-fancybox="corporate" data-caption="Description corporate">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human1-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <a href="img/human2-full.webp" class="s-services__fancybox-link" rel="modeling" data-fancybox="modeling" data-caption="Description modeling">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human2-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="acting">
                        <a href="img/human3-full.webp" class="s-services__fancybox-link" rel="acting" data-fancybox="acting" data-caption="Description acting">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human3-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <a href="img/human4-full.webp" class="s-services__fancybox-link" rel="modeling" data-fancybox="modeling" data-caption="Description modeling">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human4-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <a href="img/human4-full.webp" class="s-services__fancybox-link" rel="modeling" data-fancybox="modeling" data-caption="Description modeling">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human4-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="acting">
                        <a href="img/human3-full.webp" class="s-services__fancybox-link" rel="acting" data-fancybox="acting" data-caption="Description acting">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human3-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <a href="img/human4-full.webp" class="s-services__fancybox-link" rel="modeling" data-fancybox="modeling" data-caption="Description modeling">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human4-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <a href="img/human1-full.webp" class="s-services__fancybox-link" rel="modeling" data-fancybox="modeling" data-caption="Description modeling">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human1-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="acting">
                        <a href="img/human3-full.webp" class="s-services__fancybox-link" rel="acting" data-fancybox="acting" data-caption="Description acting">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human3-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="modeling">
                        <a href="img/human1-full.webp" class="s-services__fancybox-link" rel="modeling" data-fancybox="modeling" data-caption="Description modeling">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/human1-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <a href="img/clients1-full.webp" class="s-services__fancybox-link" rel="corporate" data-fancybox="corporate" data-caption="Description corporate">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/clients1-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <a href="img/clients2-full.webp" class="s-services__fancybox-link" rel="corporate" data-fancybox="corporate" data-caption="Description corporate">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/clients2-full.webp"></div>
                        </a>
                    </div>
                    <div class="swiper-slide s-services-swiper-slide" data-filter="corporate">
                        <a href="img/clients3-full.webp" class="s-services__fancybox-link" rel="corporate" data-fancybox="corporate" data-caption="Description corporate">
                            <div class="s-services__img-big js-lazy-bg" data-background-image="img/clients3-full.webp"></div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next s-services__mobile-button s-services__mobile-button-next"></div>
                <div class="swiper-button-prev s-services__mobile-button s-services__mobile-button-prev"></div>
            </div>
        </div>
    </div>
</section>
