<section id="s-tips" class="s-tips">
    <div class="s-tips__container l-outer-width l-inner-padding">
        <div class="s-tips__columns">
            <div class="s-tips__column">
                <div class="s-tips__column-left-box">
                    <h3 class="s-tips__title">Why are headshots important?</h3>
                    <p class="s-tips__description">It may not seem indispensable, but lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi enim, finibus non malesuada vitae, porttitor vitae enim. Nulla eget fringilla libero, ut ultricies neque. Morbi id aliquet sem. Ut mattis diam sit amet orci faucibus dignissim. Aliquam erat volutpat. Curabitur eu efficitur quam.</p>
                </div>
            </div>
            <div class="s-tips__column">
                <div class="s-tips__column-right-box">
                    <h3 class="s-tips__title s-tips_column-right-title"><span class="s-tips_column-right-title-number">5</span> Useful Tips</h3>
                    <div class="s-tips__box">
                        <div class="s-tips__row">
                            <div class="s-tips__item-box">
                                <div class="s-tips__item-content-box">
                                    <div class="s-tips__item-icon-box"><img class="s-tips__item-icon s-tips_item-icon-1" src="../img/icon3.png" alt="icon"></div>
                                    <p class="s-tips__item-description">Go professional, it’s worth it, because cheap looks cheap. </p>
                                </div>
                                <div class="s-tips__item-line"></div>
                            </div>
                            <div class="s-tips__item-box">
                                <div class="s-tips__item-content-box">
                                    <div class="s-tips__item-icon-box"><img class="s-tips__item-icon s-tips_item-icon-3" src="../img/icon5.png" alt="icon"></div>
                                    <p class="s-tips__item-description">Make sure it looks like you, not like you want to be.</p>
                                </div>
                                <div class="s-tips__item-line"></div>
                            </div>
                        </div>

                        <div class="s-tips__row">
                            <div class="s-tips__item-box">
                                <div class="s-tips__item-content-box">
                                    <div class="s-tips__item-icon-box"><img class="s-tips__item-icon s-tips_item-icon-2" src="../img/icon4.png" alt="icon"></div>
                                    <p class="s-tips__item-description">It’s all about the eyes and what’s behind them.</p>
                                </div>
                                <div class="s-tips__item-line"></div>
                            </div>

                            <div class="s-tips__item-box">
                                <div class="s-tips__item-content-box">
                                    <div class="s-tips__item-icon-box"><img class="s-tips__item-icon s-tips_item-icon-4" src="../img/icon6.png" alt="icon"></div>
                                    <p class="s-tips__item-description">Control framing, lighting & background.</p>
                                </div>
                                <div class="s-tips__item-line"></div>
                            </div>
                        </div>

                        <div class="s-tips__row">
                            <div class="s-tips__item-box s-tips_item-5">
                                <div class="s-tips__item-content-box">
                                    <div class="s-tips__item-icon-box"><img class="s-tips__item-icon s-tips_item-icon-5" src="../img/icon7.png" alt="icon"></div>
                                    <p class="s-tips__item-description">Stay chill with clothing & makeup, you must be you.</p>
                                </div>
                                <div class="s-tips__item-line"></div>
                            </div>
                            <div class="s-tips__item-box">
                                <div class="s-tips__item-content-box">
                                    <div class="s-tips__item-icon-box"><img class="s-tips__item-icon s-tips_item-icon-5" src="../img/icon7.png" alt="icon"></div>
                                    <p class="s-tips__item-description">Stay chill with clothing & makeup, you must be you.</p>
                                </div>
                                <div class="s-tips__item-line"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


            <div class="s-tips__dark-block">
                <h4 class="s-tips__dark-block-title">Professional Headshot Services</h4>
                <p class="s-tips__dark-block-description">Studio Inc is maecenas vulputate, sem at auctor vulputate, elit nunc sagittis ligula, vitae pulvinar metus elit in ante. Aenean tincidunt erat ac ante placerat facilisis. Fusce sed ligula tortor. Quisque non dignissim erat. Vestibulum ante ipsum primis in faucibus.</p>
                <p class="s-tips__dark-block-description">Covid-19 Update: We are open for studio, office, and outdoor sessions. For more information on&nbsp;our&nbsp;safety procedures, visit <a href="#" class="s-tips__dark-block-description-link">Studio Covid-19 Guidelines.</a> </p>
                <img class="s-tips__dark-block-arrow" src="img/arrow.png" alt="icon">
            </div>



    </div>
</section>
