<section id="s-top" class="s-top">
    <div class="s-top__banner-container l-outer-width l-inner-padding">
        <div class="s-top__banner">
            <h1 class="s-top__banner-title">Fast. Simple.<br>Professional<br>Headshots.</h1>
            <div class="s-top__banner-description">#1 Rated Headshot Photographers.</div>
            <span data-target="#s-services" class="s-top__banner-button button js-scroll-to">Browse Sessions</span>
        </div>
    </div>
</section>
