<footer class="site-footer">
    <div class="site-footer__container">
        <div class="site-footer__top-box l-outer-width l-inner-padding">
            <div class="site-footer__column site-footer_column-1">
                <span data-target="#s-top" class="site-footer__link-logo js-scroll-to"><h4 class="site-footer__title site-footer_logo">Studio</h4></span>
            </div>
            <div class="site-footer__column site-footer_column-2">
                <div class="site-footer__column-2-content-box">
                    <h4 class="site-footer__title">Links</h4>
                    <ul class="site-footer__list">
                        <li class="site-footer__list-item"><span data-target="#s-sessions" class="site-footer__list-item-link js-scroll-to">Individuals</span></li>
                        <li class="site-footer__list-item"><span data-target="#s-sessions" class="site-footer__list-item-link js-scroll-to">Companies</span></li>
                        <li class="site-footer__list-item"><span data-target="#s-services" class="site-footer__list-item-link js-scroll-to">The Studio</span></li>
                        <li class="site-footer__list-item"><span data-target="#s-tips" class="site-footer__list-item-link js-scroll-to">About Us</span></li>
                        <li class="site-footer__list-item"><span data-target="#s-blog" class="site-footer__list-item-link js-scroll-to">Blog</span></li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__column site-footer_column-3">
                <div class="site-footer__column-3-content-box">
                    <h4 class="site-footer__title">Resources</h4>
                    <ul class="site-footer__list site-footer_list-resources">
                        <li class="site-footer__list-item site-footer_item-resources"><a href="#" class="site-footer__list-item-link">Lorem ipsum dolor sit amet, consectetur adipis.</a></li>
                        <li class="site-footer__list-item site-footer_item-resources"><a href="#" class="site-footer__list-item-link">Donec nisi enim, finibus non malesuada vitae.</a></li>
                        <li class="site-footer__list-item site-footer_item-resources"><a href="#" class="site-footer__list-item-link">Nulla eget fringilla libero, ut ultricies neque.</a></li>
                        <li class="site-footer__list-item site-footer_item-resources"><a href="#" class="site-footer__list-item-link">Morbi id aliquet sem. Ut mattis diam sit amet.</a></li>
                        <li class="site-footer__list-item site-footer_item-resources"><a href="#" class="site-footer__list-item-link">Curabitur eu efficitur quam. Fusce interdum sem.</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-footer__middle-box l-outer-width l-inner-padding">
            <div class="site-footer__middle-column site-footer_middle-column-1">
                <h4 class="site-footer__title">Studio Inc</h4>
                <div class="site-footer__middle-address-box">
                    <p class="site-footer__middle-column-1-address">125  Southern Way<br class="site-footer__middle-column-br"> EH23 1SZ<br class="site-footer__middle-column-br"> North Middleton, UK</p>
                </div>
            </div>
            <div class="site-footer__middle-column site-footer_middle-column-2">
                <div class="site-footer__column-2-content-box">
                    <h4 class="site-footer__title">Contact</h4>
                    <ul class="site-footer__list site-footer_list-contacts">
                        <li class="site-footer__list-item"><a href="tel:+1233453781" class="site-footer__list-item-link site-footer_middle-link-number">(123)&nbsp;345&nbsp;3781</a></li>
                        <li class="site-footer__list-item"><a href="mailto:smile@studio-inc.com" class="site-footer__list-item-link site-footer_middle-link-email">smile@studio-inc.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__middle-column site-footer_middle-column-3">
                <div class="site-footer__middle-column-3-content-box">
                    <ul class="site-footer__list site-footer_list-social">
                        <li class="site-footer__middle-list-item"><a href="https://ru-ru.facebook.com/" target="_blank" class="site-footer__list-item-link site-footer_list-item-link-underline">Facebook</a></li>
                        <li class="site-footer__middle-list-item"><a href="https://www.instagram.com/?hl=ru" target="_blank" class="site-footer__list-item-link site-footer_list-item-link-underline">Instagram</a></li>
                        <li class="site-footer__middle-list-item"><a href="https://ru.linkedin.com/" target="_blank" class="site-footer__list-item-link site-footer_list-item-link-underline">Linkedin</a></li>
                        <li class="site-footer__middle-list-item"><a href="#" target="_blank" class="site-footer__list-item-link site-footer_list-item-link-underline">Google Rating</a></li>
                        <li class="site-footer__middle-list-item"><a href="https://www.yelp.com/" target="_blank" class="site-footer__list-item-link site-footer_list-item-link-underline">Yelp</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="site-footer__container2">
        <div class="site-footer__bottom-box l-outer-width l-inner-padding">
            <div class="site-footer__bottom-box-1">
                <p class="site-footer__description site-footer__bottom-description">&copy;&nbsp;2020. All rights reserved.</p>
            </div>
            <div class="site-footer__bottom-box-2">
                <a href="#" class="site-footer__bottom-link">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
