<div id="overlay" class="overlay">
    <div class="popup">
        <h3 class="popup__title">Book Now!</h3>
        <p class="popup__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi delectus dicta doloribus enim error eveniet facere fugiat iusto magni nostrum odio omnis quas quidem saepe sed sint unde, vitae!</p>
        <form class="subscribe__form" id="subscribe__form" method="get" action="">
            <div class="subscribe__submit-group">
                <input type="text" name="name" required placeholder="YOUR NAME *" value="" id="subscribe__name">
                <input type="email" name="email" required placeholder="EMAIL ADDRESS *" value="" id="subscribe__email">
                <input type="tel" name="tel" placeholder="PHONE NUMBER" value="" id="subscribe__number" maxlength="13">
                   <textarea id="subscribe__textarea" name="comment" placeholder="ADDITIONAL" class="subscribe__textarea"></textarea>
                <input type="submit" value="SUBSCRIBE NOW!" class="submit" id="subscribe__submit" name="subscribe__submit">
            </div>
        </form>
        <button class="close" title="Закрыть" onclick="document.getElementById('overlay').style.display='none';"></button>
    </div>
</div>
