<div class="site-menu">
    <div class="site-menu__bg"></div>
    <div class="site-menu__wrapper">
        <div class="site-menu__container">
            <div class="site-menu__content">
                <nav class="site-menu__content-container">
                    <a href="/" class="g-mob-hidden site-menu__nav-logo site-menu__nav-logo-open site-header__nav-logo">Studio</a>
                    <ul class="site-menu__list">
                        <li class="site-menu__item">
                            <a href="/" class="site-menu__link  site-menu__link-logo">Studio</a>
                        </li>
                        <li class="site-menu__item">
                            <span data-target="#s-sessions" class="site-menu__link js-scroll-to">Individuals</span>
                        </li>
                        <li class="site-menu__item">
                            <span data-target="#s-sessions" class="site-menu__link js-scroll-to">Companies</span>
                        </li>
                        <li class="site-menu__item">
                            <span data-target="#s-services" class="site-menu__link js-scroll-to">The Studio</span>
                        </li>
                        <li class="site-menu__item">
                            <span data-target="#s-tips" class="site-menu__link js-scroll-to">About Us</span>
                        </li>
                        <li class="site-menu__item">
                            <span data-target="#s-blog" class="site-menu__link js-scroll-to">Blog</span>
                        </li>
                    </ul>

                    <div class="site-menu__icons-mobile-box">
                        <button class="site-menu__mobile-button button">Book Now</button>
                        <ul class="site-menu__icons-mobile-list">
                            <li class="site-menu__icons-mobile-item">
                                <a href="https://ru-ru.facebook.com/" target="_blank" class="site-menu__icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="site-header__icon site-header__icon-f" role="img"  viewBox="0 0 320 512"><path  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>
                                </a>
                            </li>
                            <li class="site-menu__icons-mobile-item">
                                <a href="https://www.instagram.com" target="_blank" class="site-menu__icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="site-header__icon site-header__icon-inst" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                                </a>
                            </li>
                            <li class="site-menu__icons-mobile-item">
                                <a href="https://ru.linkedin.com/" target="_blank" class="site-menu__icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="site-header__icon site-header__icon-linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
                                </a>
                            </li>
                            <li class="site-menu__icons-mobile-item">
                                <a href="https://www.yelp.com/" target="_blank" class="site-menu__icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="yelp" class="site-header__icon site-header__icon-yelp" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M42.9 240.32l99.62 48.61c19.2 9.4 16.2 37.51-4.5 42.71L30.5 358.45a22.79 22.79 0 0 1-28.21-19.6 197.16 197.16 0 0 1 9-85.32 22.8 22.8 0 0 1 31.61-13.21zm44 239.25a199.45 199.45 0 0 0 79.42 32.11A22.78 22.78 0 0 0 192.94 490l3.9-110.82c.7-21.3-25.5-31.91-39.81-16.1l-74.21 82.4a22.82 22.82 0 0 0 4.09 34.09zm145.34-109.92l58.81 94a22.93 22.93 0 0 0 34 5.5 198.36 198.36 0 0 0 52.71-67.61A23 23 0 0 0 364.17 370l-105.42-34.26c-20.31-6.5-37.81 15.8-26.51 33.91zm148.33-132.23a197.44 197.44 0 0 0-50.41-69.31 22.85 22.85 0 0 0-34 4.4l-62 91.92c-11.9 17.7 4.7 40.61 25.2 34.71L366 268.63a23 23 0 0 0 14.61-31.21zM62.11 30.18a22.86 22.86 0 0 0-9.9 32l104.12 180.44c11.7 20.2 42.61 11.9 42.61-11.4V22.88a22.67 22.67 0 0 0-24.5-22.8 320.37 320.37 0 0 0-112.33 30.1z"></path></svg>
                                </a>
                            </li>
                            <li class="site-menu__icons-mobile-item">
                                <a href="https://www.google.com/" target="_blank" class="site-menu__icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" class="site-header__icon site-google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                                </a>
                            </li>
                        </ul>
                    </div>


                </nav>
            </div>
        </div>
    </div>
</div>
